@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --main-font: "Open Sans";
  --secodary-font: "Dancing Script";
  --third-font: "Cormorant Garamond";
  --main-color: #ff98cb;
  --secondary-color: #fcf4f1;
}
* {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* BARRA HEADER*/
#header {
  width: 100%;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.lista {
  margin-top: 10px;
  list-style: none;
  display: flex;
}

.lista_orden {
  margin: 0 40px;
  transition: transform 0.3s ease-in-out;
}

.lista_link {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.lista_orden:last-child .lista_link:hover {
  color: #ff98cb79;
}
.lista_link:hover {
  color: #222;
}

.lista_orden:last-child:hover {
  transform: none;
  color: none;
}

.lista_orden:hover {
  transform: scale(1.1);
}
#cuenta-carrito {
  position: relative;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  margin-left: -8px;
}
/* BOTON MENU */
.dropbtn {
  display: none;
}

/* LOGO */
.logo {
  position: absolute;
  max-width: 12%;
  height: auto;
  width: auto;
}
/* footer info */

.footer_info {
  width: 100%;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  position: relative;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info,
.social-media {
  flex: 1 1 300px;
  margin: 0 100px;
}

.contact-info h3,
.social-media h3 {
  margin-bottom: 10px;
}

.contact-info p,
.social-media .social-icons {
  margin: 0;
}

.social-icons a {
  color: var(--secondary-color);
  font-size: 24px;
  margin-right: 10px;
}

.social-icons i:hover {
  opacity: 0.5;
}

main {
  margin: auto;
}

/* carrito de compra */

#productos-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 600px;
  overflow: hidden;
  border-radius: 1rem;
}

.tarjeta-producto {
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
}
#totales {
  text-align: center;
  padding: 20px;
}

.tarjeta-producto img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border-bottom: 2px solid #f3f4f6;
}

.tarjeta-producto h3 {
  font-size: 1rem;
  margin: 1rem 0 0.5rem 0;
  padding: 0 1rem;
  color: #343a40;
  font-weight: 600;
}
.carrito-cantidad-contenedor {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tarjeta-producto p {
  color: black;
  font-size: 1.2rem;
  margin: 0.5rem 40px;
  font-weight: bolder;
}
.menos {
  background: var(--main-color);
  width: 15px;
  height: 15px;
  color: rgb(0, 0, 0);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.menos:hover {
  opacity: 0.8;
}
.mas {
  background: var(--main-color);
  width: 15px;
  height: 15px;
  color: rgb(0, 0, 0);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.mas:hover {
  opacity: 0.8;
}
.carrito-cantidad {
  padding: 0 1px;
  font-size: 1.2rem;
  font-weight: bolder;
}

#comprarwatsapp {
  border: none;
  background: var(--main-color);
  color: white;
  padding: 0.5rem 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  overflow: hidden;
  text-align: center;
}
#comprarwatsapp:hover {
  opacity: 0.8;
}
#reiniciar {
  border: none;
  background: var(--main-color);
  color: white;
  padding: 0.5rem 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  overflow: hidden;
  text-align: center;
}
#reiniciar:hover {
  opacity: 0.8;
}
/* CARRITO VACIO */

.carrito {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.escondido {
  display: none;
}
.carrito_text {
  margin-top: 20px;
  color: #474747;
}
.contactButton {
  background: var(--main-color);
  color: white;
  padding: 0.45em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--main-color);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
  margin-top: 25px;
}

.iconButton {
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--main-color);
  right: 0.3em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  opacity: 0.8;
}

/*Botnon de whatsapp*/

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*carrito lleno*/

#productos-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* media queries */
@media (max-width: 700px) {
  .logo {
    display: none;
  }

  .button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: fixed;
    z-index: 1;
    padding: 0;
    width: 70px;
    height: 70px;
    background: transparent;
    position: fixed;
    top: 90%;
    left: 85%;
    cursor: pointer;
    font-size: 0px;
    border: none;
  }

  .button2 > svg {
    border: none;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav {
    background-color: transparent;
    display: none;
    width: 100%;
    height: 100vh;
  }
  .lista {
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    align-items: center;
  }

  .lista_orden {
    display: flex;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }

  .dropbtn {
    display: block;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border: none;
    color: var(--main-color);
    margin: 0 20px;
    cursor: pointer;
  }

  .dropbtn i {
    color: var(--main-color);
  }
  main {
    margin-top: 150px;
  }
}
