@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --main-font: "Open Sans";
  --secodary-font: "Dancing Script";
  --third-font: "Cormorant Garamond";
  --main-color: #ff98cb;
  --secondary-color: #fcf4f1;
}
* {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to bottom,
    var(--secondary-color) 80%,
    var(--main-color) 80%
  );
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  z-index: 100;
  padding: 15px 0;
}
.dropbtn {
  display: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.lista {
  margin-top: 10px;
  list-style: none;
  display: flex;
}

.lista_orden {
  margin: 0 40px;
  transition: transform 0.3s ease-in-out;
}

.lista_link {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.lista_orden:last-child .lista_link:hover {
  color: #ff98cb79;
}
.lista_link:hover {
  color: #222;
}

.lista_orden:last-child:hover {
  transform: none;
  color: none;
}
.logo {
  position: absolute;
  max-width: 15%;
  height: auto;
  top: 0;
  z-index: 101;
}

i:hover {
  color: #ff98cb79;
}

.lista_orden:hover {
  transform: scale(1.1);
}

main {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.logo {
  position: absolute;
  max-width: 15%;
  height: auto;
  top: 0;
}

.nosotros {
  font-size: 3rem;
  font-weight: bolder;
  left: 0;
  margin-top: 1%;
}
main {
  position: absolute;
  left: 40%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  padding: 50px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px #bebebe, -5px -5px 30px #ffffff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.info {
  text-align: justify;
  width: 700px;
  padding: 10px 0px;
}

.img_decoration {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.card {
  position: absolute;
  left: 70%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 430px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 60px #bebebe, -10px -10px 60px #ffffff;
}

.imagen_card {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 20px;
  border: 1px solid #474747;
}

.name_card {
  margin-top: 80px;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  z-index: 2;
  color: #474747;
}

.title_card {
  margin-top: 10px;
  color: #7a7a7a;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  z-index: 2;
}

.info_card {
  top: 0;
  text-align: center;
  padding: 0px 20px;
  color: #7a7a7a;
  font-size: 1rem;
  text-wrap: balance;
}
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  color: #222;
}
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* footer info */
.footer_info {
  padding: 20px 0;
  text-align: center;
  left: 12%;
  top: 90%;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.contact-info,
.social-icons {
  flex: 1;
}

.contact-info h3,
.social-media h3 {
  margin: 10px 30px;
}

.contact-info p,
.social-icons p {
  margin: 5px 0;
}

.social-icons a {
  color: #333;
}

.social-icons {
  font-size: 1.5rem;
}
.social-icons i:hover {
  color: var(--secondary-color);
}

@media (max-width: 600px) {
  body {
    background: var(--secondary-color);
    height: 100vh;
  }
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    z-index: 100;
    padding: 15px 0;
  }
  .logo {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 1.5%;
    left: 65%;
    z-index: 101;
  }
  .dropbtn {
    display: block;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border: none;
    color: var(--main-color);
    margin: 0 20px;
  }

  .lista {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42vh;
    background-color: var(--secondary-color);
    z-index: 2;
  }
  .lista_orden {
    margin: 20px;
  }
  i:hover {
    color: #ff98cb79;
  }

  .lista_orden:hover {
    transform: scale(1.1);
  }

  main {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .logo {
    position: absolute;
    max-width: 15%;
    height: auto;
    top: 0;
  }

  .nosotros {
    font-size: 1.5rem;
    font-weight: bolder;
    left: 0;
    margin-top: 1%;
  }
  main {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px #bebebe, -5px -5px 30px #ffffff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  .info {
    text-align: justify;
    width: 100%;
    padding: 10px 0px;
    font-size: 0.8rem;
  }

  .img_decoration {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  .card {
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 430px;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 60px #bebebe, -10px -10px 60px #ffffff;
  }

  .imagen_card {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 20px;
    border: 1px solid #474747;
  }

  .name_card {
    margin-top: 80px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    z-index: 2;
    color: #474747;
  }

  .title_card {
    margin-top: 10px;
    color: #7a7a7a;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    z-index: 2;
  }

  .info_card {
    top: 0;
    text-align: center;
    padding: 0px 20px;
    color: #7a7a7a;
    font-size: 1rem;
    text-wrap: balance;
  }
  footer {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    color: #222;
  }
  .button2 {
    display: none;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }

  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }

  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }

  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  /* footer info */
  .footer_info {
    display: flex;
    background-color: var(--main-color);
    max-width: 200px;
    top: 130%;
  }
  .footer-container {
    background-color: #009087;
    position: fixed;
  }

  .contact-info,
  .social-icons {
    flex: 1;
  }

  .contact-info h3,
  .social-media h3 {
    margin: 10px 30px;
  }

  .contact-info p,
  .social-icons p {
    margin: 5px 0;
  }

  .social-icons a {
    color: #333;
  }

  .social-icons {
    font-size: 1.5rem;
  }
  .social-icons i:hover {
    color: var(--secondary-color);
  }
}
