@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --main-font: "Open Sans";
  --secodary-font: "Dancing Script";
  --third-font: "Cormorant Garamond";
  --main-color: #ff98cb;
  --secondary-color: #fcf4f1;
}

* {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to bottom,
    #fcf4f1 40%,
    var(--main-color) 40%
  );
  background-size: cover;
  background-position: center;
  height: 200vh;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  z-index: 100;
  padding: 15px 0;
}

.dropbtn {
  display: none;
}
.logo {
  position: absolute;
  max-width: 15%;
  height: auto;
  top: 0;
  z-index: 101;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.lista {
  margin-top: 10px;
  list-style: none;
  display: flex;
}

.lista_orden {
  margin: 0 40px;
  transition: transform 0.3s ease-in-out;
}

.lista_link {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.lista_orden:last-child .lista_link:hover {
  color: #ff98cb79;
}
.lista_link:hover {
  color: #222;
}

.lista_orden:last-child:hover {
  transform: none;
  color: none;
}
.logo {
  position: absolute;
  max-width: 15%;
  height: auto;
  top: 0;
}

i:hover {
  color: #ff98cb79;
}

.lista_orden:hover {
  transform: scale(1.1);
}

footer {
  width: 100%;
  background-color: var(--main-color);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  color: #222;
  text-align: center;
  padding: 10px 0;
}
.carousel {
  display: relative;
  width: 60%;
  height: 60vh;
  cursor: pointer;
  margin: auto;
  margin-top: 8%;
  border-radius: 50px;
  overflow: hidden;
}
.carousel-images {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 1s ease-in-out;
  border-radius: 50px;
}

.carousel-image {
  width: 60%;
  height: 60vh;
  border-radius: 50px;
}

.contenedor-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 1rem;
  max-width: 120rem;
  width: 60%;
  margin: 150px auto;
  overflow: hidden;
}

.item {
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  padding: 1rem;
  height: 250px; /* Set a fixed height */
}

.item:hover {
  transform: scale(1.03);
  height: auto;
}

.img-item {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain;
  border-bottom: 2px solid #f3f4f6;
  transition: transform 0.3s ease;
}

.titulo-item {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
  padding: 0 1rem;
  color: #343a40;
}

.precio-item {
  color: #28a745;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.boton-item {
  background: linear-gradient(135deg, #ff98cb, #ff98cbf1 50%);
  border: none;
  color: #fff;
  padding: 0.75em 1.5em;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1em;
  transition: background 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
}

.item:hover .boton-item {
  opacity: 1;
  transform: translateY(0);
}

.boton-item:hover {
  background: black;
  transform: scale(1.05);
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.button2 > svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

body::-webkit-scrollbar {
  width: 20px; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-track {
  background: var(
    --secondary-color
  ); /* Color de fondo de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb {
  background-color: #ff69b4; /* Color del pulgar de la barra de desplazamiento (rosa) */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid var(--secondary-color); /* Borde del pulgar de la barra de desplazamiento (rosa) */
}
@media (max-width: 600px) {
  body {
    background-image: linear-gradient(
      to bottom,
      var(--secondary-color) 95%,
      var(--main-color) 55%
    );
  }

  .logo {
    position: absolute;
    max-width: 30%;
    height: auto;
    top: 1.5%;
    left: 65%;
    z-index: 101;
  }
  .dropbtn {
    display: block;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border: none;
    color: var(--main-color);
    margin: 0 20px;
  }

  .lista {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: var(--secondary-color);
    z-index: 2;
  }
  .lista_orden {
    margin: 20px;
  }

  .button2 {
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel {
    display: relative;
    width: 10%;
    height: 10vh;
    cursor: pointer;
    margin: auto;
    margin-top: 30%;
    border-radius: 50px;
    overflow: hidden;
  }

  footer {
    width: 100%;
    background-color: var(--main-color);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: #222;
    text-align: center;
    padding: 10px 0;
  }
}
