@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --main-font: "Open Sans";
}
* {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.Background {
  background-image: linear-gradient(
    to bottom right,
    #fcf4f1 0%,
    #fcf4f1 55%,
    #ffb6a8 55%,
    #f29191 100%
  );
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.imgprincipal {
  position: absolute;
  display: flex;
  width: 30%;
  height: 60%;
  overflow: hidden;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.header {
  display: flex;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.lista {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: flex;
}

.lista_orden {
  margin: 0 40px;
  transition: transform 0.3s ease-in-out;
}

.lista_link {
  text-decoration: none;
  color: #f29191;
  font-size: 1.5rem;
  font-weight: bold;
}

.lista_orden:last-child .lista_link:hover {
  color: #f29191;
}
.lista_link:hover {
  color: #222;
}

.lista_orden:last-child:hover {
  transform: none;
  color: none;
}

i:hover {
  color: #f291918b;
}

.lista_orden:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  color: #222;
}
